.container {
    margin: auto;
    width: 300px;
    height: 300px;
    position: relative;
}

#head, #body  {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 75px;
}


#head {
    top: 10px;
    background: yellow;
}
#body {
    top: 150px;
    background: teal;
}
