@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Montserrat:wght@200;500&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;

}


h1{ 
    font-family: 'Dancing Script';
}

.h1-content{
    font-size: 45px;
    background-image: linear-gradient(to right, rgb(214, 184, 159), white);
margin-bottom: 5px;
padding-left: 5px;
}
body{
    background-color:#FDF6F0;
    align-content: center;
}

header {
    background-image: url(./img/bg.jpg);
    height: 190px;
    width: 100vw;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.3);
    box-sizing: border-box;
   

}

.name{
    font-family: 'Dancing Script';
    font-size: 80px;
    margin-left: 20px;
    padding-top: 5px;
    text-shadow: 0px 5px 0px rgba(0,0,0,0.2);


}

#rose-logo{
    width: 50px;
}

.small-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 20px;
   
}


.search{
    margin-top: -50px;
    margin-right: 20px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#show-login{
    font-family:'Montserrat', sans-serif; 
    padding: 15px 25px 15px 25px;
   background-color: rgb(17, 12, 12);
   border: 0;
   color: white;
   transform: all 0,3s ease-out;
   border-radius: 5px;
   
   }

   #show-login:hover{
    background-color: white;
    color:#746149;
   }

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width:380px;
    padding: 30px 50px 50px 30px;
    background-color: rosybrown;
    box-shadow: 2px 1px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;

}

.popup.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
   transition:    top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms; 
}

.popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: rgb(255, 255, 255);
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.popup .form h2{
    font-family: 'Dancing Script';
    text-align: center;
    color: rgb(255, 255, 255);
    margin:  10px 0px 20px;
    font-size: 35px;
}

.popup .form .form-element{
    margin: 20px 20px;
}

.popup .form .form-element label{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.popup .form .form-element input[type="text"], .popup .form .form-element input[type="password"] {
margin-top: 5px;
display: block;
width: 100%;
padding: 10px;
outline: 0;
border: 1px solid #f1f1f1;
border-radius: 5px;

}
.popup .form .form-element input[type="checkbox"] {
    margin-right: 5px ;
}
.popup .form .form-element button{
    width: 108%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: rgb(235, 198, 198);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 1px 5px 5px rgba(0, 0, 0, 0.15);

}

.popup .form .form-element a{

display: block;
text-align: right;
font-size: 12px;
color: cornsilk;
text-decoration: none;
font-weight: 300;
margin-right: -25px;

}
.cart-myaccount{
    margin-top: -90px;
    float: right;
    margin-right: -360px;

}
.cart-button{
    background-color: #746149;
    color: white;
    font-family:'Montserrat', sans-serif; 
    text-transform: uppercase;
    border-radius: 2px;
    border:0px;
    padding: 15px 25px 15px 25px;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
    letter-spacing: 5px;
    transition: all 0.5s ease-out;
    margin-left: 15px;
    float: right;
}

.cart-button:hover{
    background-color: white;
    color:#746149;
}


#search-form {
    font-family:  'Montserrat', sans-serif;
    font-size: 12px;
    padding: 0;
	float: right;
    margin-right: 10px;
}
 
#search-form input {
	width: 300px;
	float: left;
	border-radius: 2px 0 0 2px;
	font-size: 12px;
    font-family:  'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
    outline: 0;
}

#button-submit {
	width: auto!important;
	float: right;
	border-radius: 0 2px 2px 0;
	background: #746149;
	font-size: 13px;
	text-shadow: 0 1px 0 rgba(0, 5, 5, 0.3);
	color: #fff;
}
#button-submit:hover{
    color:#746149;
    background: bisque;
}

#navbar ul {
    display: flex;    
    width: 100%;
    flex-direction: row;
    list-style-type: none;
  }
 #navbar ul li {
    padding: 2px 0;
  }
 #navbar ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-family:  'Montserrat', sans-serif;
    font-size: 25px;
    color: #ecf0f1;
    text-transform: uppercase;
    padding: 1px 10px;
    transition: 0.5s;
  }
  #navbar ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #725843;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }
  
  #navbar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  #navbar ul li ul li{
      display: none !important;
      position: absolute;
      top: 3.55em;
      left:0px;
      display: block;
      width: 16.5em;
      z-index: 200;
  }

  #navbar ul li ul li a{
padding-left: 30px !important;

  }
#nav ul li:hover >ul{
    display: block !important;
}


.banner-wrapper{
    position: relative;
    background: #fff;
    margin-top: 10px;
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.banner-wrapper img{
    width: 33%;
    height: 500px;
    object-fit: cover;
}

.banner-wrapper .btn1 {
    position: absolute;
    top: 80%;
    left: 18%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dfd1c0;
    opacity: 0.9;
    filter: alpha(opacity=90);
    color:#000;
    font-size: 26px;
    width: 300px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 5px;


  }
  .banner-wrapper .btn2{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dfd1c0;
    opacity: 0.9;
    filter: alpha(opacity=90);
    color: #000;
    font-size: 26px;
    width: 300px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 5px;

  }
  .banner-wrapper .btn3{
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dfd1c0;
    opacity: 0.9;
    filter: alpha(opacity=90);
    color: #000;
    font-size: 26px;
    width: 300px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 5px;
  }
  
  .banner-wrapper .btn1:hover {
    background-color: rgb(112, 94, 82);
    color: ivory;
  
  }
  .banner-wrapper .btn2:hover {
    background-color: rgb(112, 94, 82);
    color: ivory;
  }
  .banner-wrapper .btn3:hover {
    background-color: rgb(112, 94, 82);
    color: ivory;
  }

#banner-1 {
    width: 100v;
    height: 400px;
    margin-top: 10px;
    background-image: url("./img/Flowers3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    text-align: center;
    font-family: 'Dancing Script';
    color: white;
    padding-top: 200px;
    font-size: 50px;
}

.banner-button{
    background-color: transparent;
    padding: 10px 35px 10px 35px;
    border-radius: 8px;
    border: 2px burlywood solid;
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    transition: ease 1s;
   
}
.banner-button:hover{
    color:whitesmoke;
     font-family:  'Montserrat', sans-serif;
     font-size: 30px;
     opacity: 10%;
     border: 2px rgb(178, 192, 141) solid;
     background: transparent;
     letter-spacing: 15px;
 }


.page-container {
    margin: 3%;
    margin-top: 45px;
    background-color: #ffffff;
    padding: 30px;
    border-radius:10px ;
    text-align-last: left;

}
.midsummer-box{
    flex-direction: row;
    /* align-items: center;
    position: relative;
    flex-wrap: wrap; */
    padding: 1px;
    margin-bottom: 10px;
    padding-left: 20px;
    margin-top: 2px;
    width: 100%;
    border-radius: 5px;
    }

.midsummer-video{
        display: flex;
height:  500px;  
padding-right: 20px; 
flex: 1;
 }

/* .midsummer-picture{
    display: flex;
    background-image: url(./img/07077ed4a22bb3ac632e5027732b3de1.jpg);
    height: 50px;
    flex: 1;
} */

.footer-container {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 90px;
    line-height: 30px;
  }
  

footer{
    background-image: url(./img/bg.jpg);
    height: 300px;
    width: 100vw;
  
  
}

.colum-links a {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
    opacity: 80%;
    transform: translate(5s) ease-in-out;
}
 
.colum-links a:hover {
opacity: 50%;
text-decoration: underline;
}

.footer-container a, h4, h5, p {
    font-family: 'Montserrat', sans-serif;

}
.footer-container h1 {
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 10px;
}



@media only screen and (max-width:720px) {
	nav ul {
		width: 100%!important
	}
	#sub-menu {
		display: none
	}
	nav a {
		padding: 5px 10px
	}
    .navmenu {
        padding: 5px;
    }
    #navbar{
         display: none;
        height: 24px;
        line-height: 24px;
    }
	.toggle-nav {
		padding: 6px 10px
	}
	#search-form input {
		width: 150px;
        padding: 5px;
        margin: 0;
	}
}
 
@media only screen and (min-width:720px) {
	#menu {
		display: none
	}
    #navbar{
    height: 50px;
    line-height: 50px;
}
	nav {
		display: block!important
	}
	nav li {
		display: inline-block
	}
    #search-form input {
	height: 50px;
    padding: 10px;
	margin: 5px 0; }

    .flex-container {
        display: flex;
        flex-direction: row;
      }
      
      @media (max-width: 800px) {
        .flex-container {
          flex-direction: column;
        }