/* general styling */
* {
    margin: 0px;
    padding: 0px;
    
}
input, button, submit { border:none; background: none; } 
a {
    background-color: none;
    text-decoration: none;
    color: inherit;
}

/* Styling */
/* table */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}


main {
   margin: 30px;
    min-height: 100vh;
    padding: 20px;
}

h1 {
    /* 16px(default browser font-size) * 3 */
    font-size: 3rem;
    text-align: center;
    margin: 40px;
}

.row-one {
    display: flex;
    justify-content: space-between;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left, .right {
    display: flex;
}

.row-between {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.last-two{
   margin: 30px;
}

.flex-item {
    height: 70px;
    width: 70px;
    margin: 4px;
}

/* colors */

.yellow {
    background-color: rgb(255, 255, 0);
}

.red {
    background-color: rgba(255, 70, 0);
}

.orange {
    background-color: rgb(255, 165, 0)
}

.green {
    background-color: rgb(173, 255, 47);
}

.turquoise {
    background-color: rgb(64, 224, 208);
}