*
{
    border-radius: 35%;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.head
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #29A0B1;
    position: relative;
    top: 103px;
    left: 20px;
}
.body {
    background-color: #167D7F;
    height: 100px;
    width: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: rotate(20deg);
    /* position: relative; */
}
.hand-r
{
    
    position: relative;
    top: 110px;
    left: 20px;
    height: 50px;
    width: 15px;
    background-color: #98D7C2;
    animation-name: leg-l-Animation;
    animation-duration: 2s;

    transform: rotate(0deg);
    transform-origin: top;
    animation-iteration-count: infinite;

}
.hand-l
{
    position: relative;
    top:65px;
    left: 20px;
    height: 50px;
    width: 15px;
    background-color: #98D7C2;
    
    animation-name: leg-r-Animation;
    animation-duration: 2s;

    transform: rotate(0deg);
    transform-origin: top;
    animation-iteration-count: infinite;
    z-index: 1;

}
.hand-arm
{
    position:absolute;
    top: 50px;
    height: 50px;
    width: 15px;
    /* transform: rotate(90deg); */
    background-color: #98D7C2;
    /* animation-name: leg-r-calf-Animation; */
    animation-duration: 2s;
    transform: rotate(-90deg);
    transform-origin: top;
    animation-iteration-count: infinite;
}







.leg-r {
    position: relative;
    bottom: 15px;
    left: 12px;
    height: 80px;
    width: 15px;
    background-color: #DDFFE7;
   
    animation-name: leg-r-Animation;
    animation-duration: 2s;

    transform: rotate(0deg);
    transform-origin: top;
    animation-iteration-count: infinite;
    z-index: -1;

}
@keyframes leg-r-Animation{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-60deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.leg-r-calf {
    position:absolute;
    top: 80px;
    height: 80px;
    width: 15px;
    background-color: #DDFFE7;
    animation-name: leg-r-calf-Animation;
    animation-duration: 2s;
    transform: rotate(0deg);
    transform-origin: top;
    animation-iteration-count: infinite;

}
@keyframes leg-r-calf-Animation{
    0% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(50deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(50deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

    .leg-l {
        position: relative;
        left: -12px;
        bottom: 100px;
        height: 80px;
        width: 15px;
        background-color: #DDFFE7;
        
        animation-name: leg-l-Animation;
        animation-duration: 2s;
    
        transform: rotate(0deg);
        transform-origin: top;
        animation-iteration-count: infinite;
    
    }
    @keyframes leg-l-Animation{
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(60deg);
        }
        50% {
            transform: rotate(0deg);
        }
        75% {
            transform: rotate(-60deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }


    .leg-l-calf {
        position:absolute;
        top: 80px; 
        height: 80px;
        width: 15px;
        background-color: #DDFFE7;
        animation-name: leg-r-calf-Animation;
        animation-duration: 2s;
        transform: rotate(0deg);
        transform-origin: top;
        animation-iteration-count: infinite;
    
    }
    @keyframes leg-r-calf-Animation{
        0% {
            transform: rotate(10deg);
        }
        25% {
            transform: rotate(50deg);
        }
        50% {
            transform: rotate(10deg);
        }
        75% {
            transform: rotate(50deg);
        }
        100% {
            transform: rotate(10deg);
        }
    