@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
}
input, button, submit { 
    border:none; 
    background: none; 
} 
a {
    background-color: none;
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none; 
   }
body {
    background-color: #f9fffc;    
}

#head {
   
    background: linear-gradient(90deg, #CFEDEE 0%, #89BE63 100%);
    /* width: 100vw; */
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 55px;
    height: 55px;
    background-color: bisque;
    margin-left: 20px;
    border-radius: 4px;
    background-image: url(./pics-for-pages/AdobeStock_102683437_Preview.jpg);
    background-size: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#log-in {
    width: 100px;
    height: 45px;
    background-color: #ECF9F2;
    margin-right: 50px;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    /* border: green solid 2px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #748571;
    cursor: pointer;
}
#navigation {
    height: 40px;
    width: 100%;
    background-color: #748571;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#home, #symbols, #links, #exercises {
    height: 100%;
    width: 200px;
    /* background-color: #3f4d3d;; */
    /* margin-left: 20px; */
    /* border-radius: 8px; */
    color: #ECF9F2;
    text-align: center;
    line-height: 35px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    cursor: pointer;
    border-right: #657263 solid 2px;

}
#what-is
{
    background: linear-gradient(90deg, #effeff 0%, #e5feff  100%);
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
#what-is h3 {
    margin-top: 10px;
    margin-left: 10%;
    align-self: flex-start;
}
#what-is p {
    margin-top: 10px;
    width: 85%;
    line-height: 30px;
    /* background-color: thistle; */
}
.fat {
    font-weight: bolder;
}
#equpment {
    width: 100%;
    height: 750px;
    background: linear-gradient(90deg, #c1dabd 0%, #dcffed 100%);
    /* background-color: rgb(187, 255, 204); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#equpment h3 {
    margin-top: 10px;
    margin-left: 10%;
    align-self: flex-start;
}
#equpment p {
    margin-top: 10px;
    width: 85%;
    line-height: 30px;
    /* background-color: rgb(236, 142, 236); */
}
#equpment ul {
    align-self: start;
    margin-left: 12%;
    line-height: 30px;
}

#types {
    width: 100%;
    height: 750px;
    background: linear-gradient(90deg, #effeff 0%, #e5feff  100%);
    /* background-color: rgb(187, 191, 255); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#types h3 {
    margin-top: 10px;
    margin-left: 10%;
    align-self: flex-start;
}
#types p {
    margin-top: 10px;
    width: 85%;
    line-height: 30px;
    /* background-color: rgb(236, 142, 236); */
}
#types ul {
    align-self: start;
    margin-left: 12%;
    line-height: 30px;
}
#photos {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    /* background-color: #ECF9F2; */
    width: 85%;
    height: 300px;
    justify-content: space-between;
}
.photos-of-equpment {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    /* background-color: black; */
    background-size: cover;
}
#description {
    background-image: url(./pics-for-pages/descriptions-photo.jpg);
}
#si-card {
    background-image: url(./pics-for-pages/si-card.jpg);
}
#map {
    background-image: url(./pics-for-pages/map.jpg);
}



/* Log in page */

#log-in-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(90deg, #effeff 0%, #dafeff  100%);
}

#log-in-container {
    
    margin-top: 40px;
    width: 400px;
    /* background: linear-gradient(90deg,#95a592  0%, #748571  100%); */
    background-color: #95a592 ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;

}
#log-in-container h2 {
    margin-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

#log-in-container .text-input {
    margin-top: 5px;
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 5px;
    background: #748571;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;

}

#log-in-container .primary-btn {
    align-self: center;
    width: 150px;
    height: 30px;
    color: #748571;
    border: solid #748571 2px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}




#log-in-container a, #log-in-container div {
    
    margin-bottom: 2px;
    display: block;
    color: #fff;
    text-decoration: none;
   /* background-color: thistle; */
    text-align: center;
    font-size: 0.9rem;
    
}
#log-in-container a {
    text-decoration: underline;

}

#symbols-page {
    display: flex;
    flex-direction: column;
    
    align-items: center;


}

#map-symbols img, #description-symbols img  {
    align-self: center;
    justify-self: center;
    width: 90vw;
    margin-top: 20px;
}
#links-page {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #effeff 0%, #dafeff  100%);
    color: #30362f;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#links-page ul, #links-page h2 {
    width: 90%;
    
    margin-top: 10px;
}
#links-page li {
    margin-bottom: 10px;
}
#links-page a:hover {
    color: #89BE63;
}
#home:hover, #symbols:hover, #links:hover, #exercises:hover {
    background-color: #95a791;
}
#log-in:hover{
    background-color: #e9feff;
}
input:focus {
    outline: none;
    border: none;
}

#page-conteiner-test-1 {
    background: linear-gradient(90deg, #effeff 0%, #dafeff  100%);
    height: 100%;  
}

#test-1-conteiner{
    background: linear-gradient(90deg, #effeff 0%, #dafeff  100%);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    padding: 40px 50px;
    

}
#test-1-conteiner .cards {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#test-1-conteiner .cards img {
    width: 380px;

}
#answers-conteiner {
    display: flex;
    flex-direction: row;
    background-color: #ECF9F2 ;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-items: center;
    padding-left: 30px;
    border-radius: 10px;

}
#answers-conteiner label{
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
    /* margin-left: 45px; */
    /* background-color: blueviolet; */
}

.cards h2 {
    margin-bottom: 10px;
}


input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #45e174;
}
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}


/* Button: */

.button-body {
    /* font-size: 16px; */
    font-weight: bold;
    /* font-family: 'Helvetica', 'Arial', sans-serif; */
    text-align: center;
    /* background-color: #b421b4; */
    /* height: 100px;
    width: 100px; */
    display: flex;
    justify-content: center;



  }
  
  .bubbly-button {
    /* font-family: 'Helvetica', 'Arial', sans-serif; */
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    /* margin-top: 100px; */
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #426444;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
  }
  .bubbly-button:focus {
    outline: 0;
  }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #00ff73 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #a2ffc1 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .bubbly-button:active {
    transform: scale(0.9);
    background-color: #4f8062;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }
  

  .number-of-answers

  {
      /* background-color: blueviolet; */
      width: 100px;
      height: 70px;
      margin-left: 40px;
      display: flex;
      align-items: center;
      font-size: larger;
      
      
  }