* {
    margin: 0;
    padding: 0;
}
.tol-list{
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    color: grey;
    margin: 5em 10em 0 10em;
    font-family: sans-serif;
}
.tol-item{
    list-style: none;
    margin-right: 2rem;
}
.tol-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
}
.tol-btn{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: deepskyblue;
    color: white;
}
.cat-list{
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: grey;
    margin: 10px 5em 0 10em;
    font-family: sans-serif;
    flex-wrap:wrap;
}
.cat-item{
    list-style: none;
}

.fot-list{
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    color: grey;
    font-family: sans-serif;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    right: 10px;
}
.fot-item{
    list-style: none;
    margin-right: 5rem;
}
.fot-number{
    color: black;
    font-size: 18px;
}
