/* Remove default style for elements  */
* {
    margin: 0px;
    padding: 0px;
    
}
input, button, submit { border:none; background: none; } 
a {
    background-color: none;
    text-decoration: none;
    color: inherit;
}


.logo-container{
display: flex;
    flex-direction: row;
    padding-left: 25px;


}
.circle{
    border-radius: 50%;
    width: 50px;
    background-color: black;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}

.logo-inner-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    margin-left: 5px;



}


header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-container {
    width: 30%;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 3px;
    display: flex;
    padding: 0 10px;
    margin-left: 30px;
    /* background-color: yellow; */
}

.search-container input {
    width: 100%;
    height: 100%;
}

main {
    padding: 0 30px;

}

.search-container-radio {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group input {
    margin-right: 5px;
}

.radio-submit {
    background-color: #f2f2f2;
    width: 80px;
    margin-top: 6px;
    border-radius: 4px;
    padding: 10px;
    display: flex;
}