* {
    margin: 0px;
    padding: 0px;
    
}
body {
    padding: 20px;
}
#list {
    overflow-y: auto;
}
.fact {
    height: auto;
    width: 600px;
    background-color: rgb(217, 239, 255);
    margin-top: 7px;
    font-weight: 600;
    padding: 4px 7px 0px 7px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
   
}
label {
    cursor: pointer;
}
.input-area {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: row;
}
#input-area-for-text {
    width: auto;
}
.form-control {
    
    margin-right: 5px;
}
#input-area-for-score {
    width: 100px;
}