body {
    padding: 20px;
}
.fact {
    height: auto;
    width: 600px;
    background-color: rgb(217, 239, 255);
    margin-top: 7px;
    font-weight: 600;
    padding: 4px 7px 0px 7px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
   
}
label {
    cursor: pointer;
}