body {
    padding: 5%;
}

.tree-card {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    border: 2px dashed plum;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.tree-card img {
    width: 70%;
}

.tree-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#tree-gallery {
    display: flex;
}

#create-tree-conteiner {
    width: 600px;
    height: 300px;
    background-color: rgb(195, 255, 236);
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50vw - 300px);
    border: rgb(109, 109, 197) 3px solid;
    border-radius: 10px;
    padding: 20px;
    display: none;
}

